.box
  padding 20px 50px
  .top
    display flex
    justify-content flex-start
    flex-wrap:wrap
    line-height 40px
    border-bottom 1px solid #afafaf
    margin-bottom 20px
    padding-bottom 10px
    .font
      font-size 18px
      color #333333
      display inline-block
      height 40px
      width 95px
      line-height 40px
    .input
      width 260px
      display flex
      justify-content flex-start
      margin-right 10px
      span
        display inline-block
        width 55px
    .table
      margin-top 20px
.courseName
  &:hover
    color red

.pagination{
  float right 
  margin-top 15px
}