

.box
  background #fff
  .ele-img
    height 195px
    overflow hidden
    img
      width 100%
      height auto
      transition all 0.3s
  .content
    border-top 2px solid #dcecfb
    padding 10px 10px 30px
    transition all 0.5s
    border-bottom 2px solid #dcecfb
    &:hover
      background #dcecfb
    .calories
      line-height 32px
      border-bottom 1px solid #cacaca
      text-align left
      padding 5px 12px
      p
        text-align center
        font-size 16px
        color #131313
        font-weight bold
        font-family "Adobe Arabic"
    .message
      padding-top 15px
      font-size 15px
      color #111111
      text-indent: 2em
  .button
    padding 10px
    line-height 40px
  .reservation
    float right
    .peo
      color #d90f13
      font-size 16px

img:hover
  transform scale(1.2)
