
  .writeInfo
    width 400px
    text-align center
    .input
      display flex
      justify-content flex-start
      margin-bottom 20px
      .font
        width 95px 
        flex 0 0 auto
        line-height 32px
    button
      margin-top 10px
      width 200px
    

.table
  margin-top 20px

.topss
  display flex
  baseline-shift sub

.warning-content {
  height 300px
  overflow-y auto
  overflow-x hidden
}

.warning {
  padding 10px 15px
  border 1px solid #efefef
  margin-bottom 5px
}

.warning-top {
  font-size 13px
  border-bottom 1px solid #efefef
}

.warning-con {
  font-size 15px
  padding-top: 10px
}

.back {
  margin-bottom 10px
  margin-left 20px
}

.course{
  font-size 20px
  font-weight: bold;
}

.clearfix{
  font-size: 16px
  }
