.addInput
  margin-top 10px
  display flex
  justify-content center
  span
    display inline-block
    width 80px
    white-space nowrap
    text-align right
    line-height 40px
    margin-right: 10px
    flex: 0 0 auto


.course
  padding: 50px
  .top
    text-align: right 
    padding: 10px
  .contents
    margin-top: 20px
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
