.model
  position: fixed
  width 100%
  height 100%
  top: 0
  left 0
  background rgba(51, 51, 51, 0.35)
  z-index 100
  .model-box
    position: absolute
    top:220px
    left 50%
    transform translateX(-50%)
    display inline-block
    padding 20px 0
    border 1px solid #b2b2b2
    background #f6f9ff

    .head
      text-align center
      font-size 25px
      color rgba(10,14,11,0.43)
      padding 10px 0
      border-bottom 1px solid #d9d9d9
    .content
      padding 20px 50px
    .footer
      text-align right
      button
        margin-right 10px
