.ele
  .ele-top
    padding-bottom 10px
    border-bottom 1px solid #d9d9d9
    &:after
      display block
      height 0
      width 0
      content " "
      clear: both
    .func-button
      float right
      margin-right 5px
  .ele-detail
    padding-top 10px
    &>p
      font-size 18px
      color: #aeaeae
    .list
      padding-top 10px


.addContent
  width 500px

.addInput
  margin-top 10px
  display flex
  justify-content center
  span
    display inline-block
    width 80px
    white-space nowrap
    text-align right
    line-height 40px




.ele-box
  display flex
  justify-content space-around
  align-content space-around
  flex-wrap wrap
  .ele-child
    padding 5px
    background #f3f0dd
    flex: 0 0 300px
    margin-bottom 10px
    cursor: pointer
    overflow hidden

.res-time
  margin-top 5px
  span
    display inline-block
    padding:5px 12px
    border 1px solid #bebebe
    margin-right 5px
    border-radius: 5px
    margin-top 5px
    color #333333
    &.spanss
      border none
      color red


