.main
  margin: 30px auto 0
  width 370px
  .head
    text-align: center
    font-size: 28px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-family: sans-serif, Myriad Pro, Helvetica Neue, Arial, Helvetica;
    margin-bottom 20px
  .input-value
    display flex
    justify-content flex-end
    margin-bottom 20px
    .name
      display inline-block
      width 85px
      text-align right
      white-space nowrap
      line-height 40px
      margin-right 8px
    input
      height 40px
    .ad
      flex: 0 0 300px
  .footer
    .el-button{
    }

  .footer-span
    color #ff5b55
    text-align right
    margin-top 8px
    .register
      cursor: pointer
      margin-right 10px
    .forget-pwd
      cursor: pointer




