.addCent
  width 500px

.addInput
  margin-top 10px
  display flex
  justify-content center
  span
    display inline-block
    width 80px
    white-space nowrap
    text-align right
    line-height 40px


.border-card{
  width 100%
  min-height 550px
}

.card-content
  padding 20px 0
  display flex
  justify-content flex-start
  flex-wrap wrap
  //&:afte
  //  display:block;clear:both;content:"";visibility:hidden;height:0
  .card-item
    display inline-block
    border 1px solid #d0d0d0
    margin-right 20px
    border-radius 15px
    overflow hidden
    .image
      position relative
      img
        width 320px
        height 204px
      .name
        position: absolute;
        top: 61px;
        left: 64px;
        font-size: 21px;
        color: #501223;
        font-family: "Times New Roman",Georgia,Serif;
        font-weight: bold;
      .discount
        position: absolute;
        bottom: 61px;
        right: 22px;
        font-size: 21px;
        color: #540404;
        font-family: "Times New Roman", Georgia, Serif;
        font-weight: bold;
    .message
      padding 10px 20px
      color #151515
      font-size 14px
      border-bottom 1px solid #ebebeb
    .button
      padding 10px
      display flex
      justify-content: space-around
    .price
      border-bottom 1px solid #ebebeb
      padding 14px
      font-size 14px
      span
        color:red
.card-top{
  text-align right
}
