.res-box
  .res-content
    &:afte
      display:block;clear:both;content:"";visibility:hidden;height:0
    .res-card
      width 333px
      float left
      background rgba(198, 198, 198, 0.11)
      box-shadow none
      border 1px solid #dcf3ef
      .res-list
        background #fff
        padding 12px 15px
        border-bottom 1px solid #f3f3f3
        img
          width 100%

.addInput
  margin-top 10px
  display flex
  justify-content center
  span
    display inline-block
    width 80px
    white-space nowrap
    text-align right
    line-height 40px




.res-no{
  text-align center
  padding 50px
}

  .userInfoBox
    width 350px
    .input-value
      display flex
      justify-content space-around
      margin-bottom 20px
      .name
        display inline-block
        width 85px
        text-align right
        white-space nowrap
        line-height 40px
        margin-right 8px



  .personal
    .box
      min-height 500px
