div-height = 56px

bg-image()
  font-size:10px
  @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
    font-size:20px

extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px

.stylus
  height div-height
  width 50px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  border:1px solid #000
  bg-image()

  &.names
    background red
  p
    font-size: 18px

button {
  extend-click()
  -webkit-border-radius: 1px 2px / 3px 4px;
  -moz-border-radius: 1px 2px / 3px 4px;
  border-radius: 1px 2px / 3px 4px;
}

