
.personal
    .box
        min-height 500px


//推荐
.personal-main
  display: flex
  justify-content flex-start
  .top
    display block
    font-size 25px
    font-family "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif
    margin-left: 165px
  .writeInfo
    width 400px
    margin 20px
    text-align center
    .input
      display flex
      justify-content flex-start
      margin-bottom 20px
      .font
        flex 0 0 auto
        width 95px
        line-height 32px
        margin-right: 10px
        text-align: right 
    button
      margin-top 10px
      width 200px

.table
  margin-left: 30px
  .record
    font-size: 22px
    font-weight: bolder
    border-bottom:  3px solid  #ccc