.coach
  padding 20px 50px
  .top
    border-bottom 1px solid #b0b0b0
    text-align right
    padding 8px

  .content
    padding 20px
    .coach-box
      display: flex;
      justify-content flex-start
      flex-wrap nowrap
      padding-bottom 20px
      .info
        flex: 0 0 330px
        border:1px solid #b8b8b8
      .log
        border-top:1px solid #b8b8b8
        border-right:1px solid #b8b8b8
        border-bottom:1px solid #b8b8b8
        min-height 100px
        flex auto


.button
  display flex
  justify-content flex-start
  border-top 1px solid #b8b8b8
  padding 15px

.coach-info
  display: flex;
  justify-content flex-start
  .image-people
    width 180px
    height 300px
    border-right 1px solid #b7b7b7
    padding 5px
    overflow hidden
    img
      width 100%
      height 100%

  .personalList
    padding 10px 5px
    flex:auto

    .list
      height 40px
      line-height 40px
      border-bottom 1px solid #e1e1e1
    .yuyue
      text-align center
      margin-top 10px

.addContent
   width 500px

.addInput
  margin-top 10px
  display flex
  justify-content center
  span
    display inline-block
    width 80px
    white-space nowrap
    text-align right
    line-height 40px
