.res-box
  .res-content
    &:afte
      display:block;clear:both;content:"";visibility:hidden;height:0
    .res-card
      width 420px
      float left
      .res-list
        padding 12px 15px
        border-bottom 1px solid #d1d1d1
        img
          width 100%

.addInput
  margin-top 10px
  display flex
  justify-content center
  span
    display inline-block
    width 80px
    white-space nowrap
    text-align right
    line-height 40px




.res-no{
  text-align center
  padding 50px
}
